{{#if alertMessage}}
  <div class="alert alert-success fade in" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{{alertMessage}}}
  </div>
{{/if}}
{{!--
<div>
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    <a>Login</a>
  {{/if}}
</div>
--}}
<section class="container-fluid {{media.classNames}}">
  <header>
    <ul class="nav nav-pills nav-justified">
      <li class="{{if isDonor 'active'}}"> {{#link-to 'donors'}}Blood Donor{{/link-to}} </li>
      <li class="{{if isRecepient 'active'}}"> {{#link-to 'recepients'}}Blood Recepient{{/link-to}} </li>
    </ul>
  </header>
  <div>
    {{liquid-outlet}}
  </div>
  <footer>

  </footer>
</section>
